
# SASS
.sass-cache
*.css.map

# Bower
_bower_components

# Node
node_modules

# Eclipse
.project
.pydevproject

# PyCharm
.idea

# Vim
*.swp

#Temp Files
*~
temp
.swp
*htpasswd.users
**/*_deploy
**/*_deploy.json

#Sublime
ftpsync.settings

# WORDPRESS STUFF
# THEMES
wordpress/themes/*
# your development theme
!/wordpress/themes/theme-name

# PLUGINS
wordpress/plugins/*

# UPLOADS
wordpress/uploads/*

